.item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 20px;
  }
  
  .left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .item-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .rating {
    padding: 20px;
    margin-top: 10px;
    font-weight: bold;
    color: white;
    background-color: #000000;
    border-radius: 7px;
  }
  
  .right-side {
    flex: 2;
    max-width: 50%;
    color: white;
    background-color: #f9f9f9;
    border-radius: 7px;
    padding: 20px;
    margin-right: 20px;
  }
  
  .item-name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
  }
  
  .item-description {
    padding: auto;
    color: black;
    margin-bottom: 30px;
    font-size: 16px;
  }
  
  .item-price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(57, 225, 118);
  }
  
  .add-to-cart-btn {
    font-size: 18px;
    padding: 12px 40px;
    background-color: #39e230;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    order: -1; 
  }
  